* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 55px;
  background-color: cadetblue;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.title {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

span {
  color: skyblue;
  font-size: 85%;
}

input {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  border: none;
  border-radius: 7px;
  outline: none;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 7px;
  border: none;
  background-color: yellowgreen;
  color: white;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: max-content;
    padding: 20px;
  }
  span {
    display: none;
  }
}
