* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sofia Sans", sans-serif;
  padding: 30px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

img {
  width: 100%;
  height: auto;
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.price {
  color: red;
}

.info {
  font-size: 85%;
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 400px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
