<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <input v-model="content" v-on:keyup.enter="enterContent" type="text"><button @click="enterContent">🐧</button>
    <li v-for="todo in todos" :key="todo.key">{{todo.todo}}<button @click="delContent(todo)">🐬</button></li>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        content: '',
        todos: [
          {todo: '잘 먹고 잘 싸기', key: '123'}
        ]
      },
      methods: {
        enterContent(){
          this.todos.push({todo: this.content, key: Date.now()})
          this.content = ''
        },
        delContent(todo){
          this.todos = this.todos.filter(el => el.key !== todo.key)
        }
      }
    })
  </script>
</body>
</html>