* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sofia Sans", sans-serif;
  padding: 30px;
  background-color: #e5e5e5;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 30px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  background-color: white;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.3);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.text-1 {
  font-size: 72px;
}

.text-2 {
  font-size: 32px;
}

.text-3 {
  font-size: 18px;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.content {
  grid-column: span 5;
  grid-row: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info {
  padding: 30px;
}

h3 {
  font-size: 2em;
  margin-bottom: 30px;
}

.vertical {
  grid-row: span 2;
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .card {
    aspect-ratio: 1 / 1;
  }

  img {
    aspect-ratio: 1 / 1;
  }
}
